/* App.css */
.App {
  padding: 2rem;
  min-height: 100vh;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 2.5rem;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.1); */
  min-height: 200px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}



.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.card-text {
  flex: 1;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text h2 {
  color: #34495e;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.temperature-display {
  display: flex;
  flex-direction: column;
}

.temperature-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.temperature-label {
  color: #7f8c8d;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display: block;
}

.error {
  color: #e74c3c;
  font-weight: bold;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ecf0f1;
  color: #7f8c8d;
  font-style: italic;
}

.progress-container {
  position: relative;
  width: 200px;
  height: 200px;
  align-content: center;
}

.CircularProgressbar .CircularProgressbar-text {
  font-weight: 600;
  fill: currentColor;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
  
  .card-content {
    flex-direction: column;
    text-align: center;
    
  }
  
  .card-text {
    padding-right: 0;
    margin-bottom: 1.5rem;
  }
}